# ML in big scale - LAB 3

<center><img src='' height="60"></center>

AI TECH - Akademia Innowacyjnych Zastosowa≈Ñ Technologii Cyfrowych. Program Operacyjny Polska Cyfrowa na lata 2014-2020
<hr>

<center><img src=''></center>

<center>
Projekt wsp√≥≈Çfinansowany ze ≈õrodk√≥w Unii Europejskiej w ramach Europejskiego Funduszu Rozwoju Regionalnego 
Program Operacyjny Polska Cyfrowa na lata 2014-2020,
O≈õ Priorytetowa nr 3 "Cyfrowe kompetencje spo≈Çecze≈Ñstwa" Dzia≈Çanie  nr 3.2 "Innowacyjne rozwiƒÖzania na rzecz aktywizacji cyfrowej" 
Tytu≈Ç projektu:  ‚ÄûAkademia Innowacyjnych Zastosowa≈Ñ Technologii Cyfrowych (AI Tech)‚Äù
    </center>

**Author: Jacek Sroka**

Plan

1. Installation
2. Creating Spark Session
3. Reading data
4. Introduction to DataFrames
5. Specifying schema by hand
6. Querying with Python API
7. Querying with SQL

To **edit the colab** first copy it to your drive with the top bars `File -> Save a copy on drive` option.

## Installation

In [1]:
!pip install pyspark --quiet
!pip install -U -q PyDrive --quiet 
!apt install openjdk-8-jdk-headless &> /dev/null

     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 281.4/281.4 MB 4.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 199.7/199.7 KB 16.9 MB/s eta 0:00:00
  Building wheel for pyspark (setup.py) ... done

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

In [3]:
!lscpu

Architecture:        x86_64
CPU op-mode(s):      32-bit, 64-bit
Byte Order:          Little Endian
CPU(s):              2
On-line CPU(s) list: 0,1
Thread(s) per core:  2
Core(s) per socket:  1
Socket(s):           1
NUMA node(s):        1
Vendor ID:           GenuineIntel
CPU family:          6
Model:               79
Model name:          Intel(R) Xeon(R) CPU @ 2.20GHz
Stepping:            0
CPU MHz:             2199.998
BogoMIPS:            4399.99
Hypervisor vendor:   KVM
Virtualization type: full
L1d cache:           32K
L1i cache:           32K
L2 cache:            256K
L3 cache:            56320K
NUMA node0 CPU(s):   0,1
Flags:               fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush mmx fxsr sse sse2 ss ht syscall nx pdpe1gb rdtscp lm constant_tsc rep_good nopl xtopology nonstop_tsc cpuid tsc_known_freq pni pclmulqdq ssse3 fma cx16 pcid sse4_1 sse4_2 x2apic movbe popcnt aes xsave avx f16c rdrand hypervisor lahf_lm abm 3dnowprefetch invpcid_single ssbd ibrs ibpb stibp fsgsbase tsc_adjust bmi1 hle avx2 smep bmi2 erms invpcid rtm rdseed adx smap xsaveopt arat md_clear arch_capabilities

In [4]:
# from pyspark import SparkContext, SparkConf
# 
# conf = SparkConf() \
#   .set('spark.ui.port', '4050').setAppName("mlibs").setMaster("local[*]")
# sc = SparkContext.getOrCreate(conf=conf)

## Creating Spark Session

This time, rather than `SparkContext`, we will be using `SparkSession`. It is a wrapper around `SparkContext`, but also adds extra functionality and higher level API.

In [5]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder \
                    .master("local[*]") \
                    .config("spark.executor.memory", "4g") \
                    .config("spark.driver.memory", "1g") \
                    .appName("mlibs") \
                    .getOrCreate()

We can also get `SparkContext` from `SparkSession` and use it to access RDD API.

In [6]:
from pyspark import SparkContext
sc = spark.sparkContext

There is always one context for an application. If you try to create a new, before the previous one was closed, you will get the previous one.

In [7]:
print("First SparkContext:")
print(f"APP Name : {spark.sparkContext.appName}")
print(f"Master : {spark.sparkContext.master}")

spark2 = SparkSession.builder \
                     .master("local[2]") \
                     .appName("mlibs-spark2") \
                     .getOrCreate();

print("Second SparkContext:")
print(f"APP Name : {spark.sparkContext.appName}")
print(f"Master : {spark.sparkContext.master}")

First SparkContext:
APP Name : mlibs
Master : local[*]
Second SparkContext:
APP Name : mlibs
Master : local[*]

Note: pyspark documentation can be found [here](https://spark.apache.org/docs/3.1.2/api/python/reference/index.html). For example: list of `SparkContext` methods is [here](https://spark.apache.org/docs/3.1.2/api/python/reference/pyspark.html#spark-context-apis) and list of `SparkSession` methods is [here](https://spark.apache.org/docs/3.1.2/api/python/reference/api/pyspark.sql.SparkSession.html#pyspark.sql.SparkSession).

The following code allows us to inspect all the configuration. More about available configuration options and their default values can be found in [the documentation](https://spark.apache.org/docs/latest/configuration.html).

In [8]:
spark.sparkContext.getConf().getAll()

[('spark.driver.extraJavaOptions',
  '-XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED'),
 ('spark.executor.memory', '4g'),
 ('spark.executor.id', 'driver'),
 ('spark.driver.port', '39573'),
 ('spark.sql.warehouse.dir', 'file:/content/spark-warehouse'),
 ('spark.driver.memory', '1g'),
 ('spark.app.id', 'local-1673449635766'),
 ('spark.app.submitTime', '1673449634222'),
 ('spark.rdd.compress', 'True'),
 ('spark.app.name', 'mlibs'),
 ('spark.executor.extraJavaOptions',
  '-XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.app.startTime', '1673449634365'),
 ('spark.master', 'local[*]'),
 ('spark.submit.pyFiles', ''),
 ('spark.submit.deployMode', 'client'),
 ('spark.driver.host', '3ce54f6051fa'),
 ('spark.ui.showConsoleProgress', 'true')]

## Reading data
`SparkSession` has convenient methods for reading/writing data from/to common formats. The `load` method creates a DataFrame. It is similar to RDD, in the respect that rows can be distributed and processed independently on many machines.

In [9]:
housing = spark.read.load("sample_data/california_housing_test.csv",format="csv", sep=",", inferSchema="true", header="true")
housing.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -122.05|   37.37|              27.0|     3885.0|         661.0|    1537.0|     606.0|       6.6085|          344700.0|
|   -118.3|   34.26|              43.0|     1510.0|         310.0|     809.0|     277.0|        3.599|          176500.0|
|  -117.81|   33.78|              27.0|     3589.0|         507.0|    1484.0|     495.0|       5.7934|          270500.0|
|  -118.36|   33.82|              28.0|       67.0|          15.0|      49.0|      11.0|       6.1359|          330000.0|
|  -119.67|   36.33|              19.0|     1241.0|         244.0|     850.0|     237.0|       2.9375|           81700.0|
|  -119.56|   36.51|              37.0|     1018.0|         213.0|     663.0|     204.0|       1.6635|           67000.0|
|  -121.43|   38.63|              43.0|     1009.0|         225.0|     604.0|     218.0|       1.6641|           67000.0|
|  -120.65|   35.48|              19.0|     2310.0|         471.0|    1341.0|     441.0|        3.225|          166900.0|
|  -122.84|    38.4|              15.0|     3080.0|         617.0|    1446.0|     599.0|       3.6696|          194400.0|
|  -118.02|   34.08|              31.0|     2402.0|         632.0|    2830.0|     603.0|       2.3333|          164200.0|
|  -118.24|   33.98|              45.0|      972.0|         249.0|    1288.0|     261.0|       2.2054|          125000.0|
|  -119.12|   35.85|              37.0|      736.0|         166.0|     564.0|     138.0|       2.4167|           58300.0|
|  -121.93|   37.25|              36.0|     1089.0|         182.0|     535.0|     170.0|         4.69|          252600.0|
|  -117.03|   32.97|              16.0|     3936.0|         694.0|    1935.0|     659.0|       4.5625|          231200.0|
|  -117.97|   33.73|              27.0|     2097.0|         325.0|    1217.0|     331.0|       5.7121|          222500.0|
|  -117.99|   33.81|              42.0|      161.0|          40.0|     157.0|      50.0|          2.2|          153100.0|
|  -120.81|   37.53|              15.0|      570.0|         123.0|     189.0|     107.0|        1.875|          181300.0|
|   -121.2|   38.69|              26.0|     3077.0|         607.0|    1603.0|     595.0|       2.7174|          137500.0|
|  -118.88|   34.21|              26.0|     1590.0|         196.0|     654.0|     199.0|       6.5851|          300000.0|
|  -122.59|   38.01|              35.0|     8814.0|        1307.0|    3450.0|    1258.0|       6.1724|          414300.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

It is possible to convert RDDs to DataFrames.

In [10]:
institutes = [("Mathematics",10),("Informatics",20),("Mechanics",30)]
rdd = spark.sparkContext.parallelize(institutes)
df = rdd.toDF()
df.printSchema()
df.show(truncate=False)

root
 |-- _1: string (nullable = true)
 |-- _2: long (nullable = true)

+-----------+---+
|_1         |_2 |
+-----------+---+
|Mathematics|10 |
|Informatics|20 |
|Mechanics  |30 |
+-----------+---+

If we are not happy with the column names and types we can tweak them. The available types are the following:

```
StringType: string
BooleanType: boolean
IntegerType: int
LongType: bigint
FloatType: float
DoubleType: double
DateType: date
TimestampType: timestamp
BinaryType: binary
ByteType: tinyint
DecimalType: decimal(10,0)
ShortType: smallint
```
We can also use complex types like:
```
array<string>
map<int,string>
```

More about available types, their precision, supported value ranges, etc., can be found in the [documentation](https://spark.apache.org/docs/latest/sql-ref-datatypes.html).

In [11]:
rdd = spark.sparkContext.parallelize(institutes)
df = rdd.toDF(["name", "id"])
df = df.withColumn("id", df["id"].cast("string"))
df.printSchema()
df.show(truncate=False)

root
 |-- name: string (nullable = true)
 |-- id: string (nullable = true)

+-----------+---+
|name       |id |
+-----------+---+
|Mathematics|10 |
|Informatics|20 |
|Mechanics  |30 |
+-----------+---+

Note that when we loaded the `california_housing_test.csv` datafile, Spark inferred some schema by itself. This requires the data to be read and analysed. Later we will show how to define a schema by hand.

##  Introduction to DataFrames
Spark does not understand the content of RDDs. Each row is a black box object (or a key-value pair). DataFrames are organized into columns with values of the same type. Spark DataFrames are conceptually similar to Pandas DataFrames and tables in relational databases.

In [12]:
housing

DataFrame[longitude: double, latitude: double, housing_median_age: double, total_rooms: double, total_bedrooms: double, population: double, households: double, median_income: double, median_house_value: double]

Unlike RDDs, where the rows contain black box objects, Spark knows the data types and column names in DataFrames. This allows to write code that is easier to understand by humans, i.e., with column names rather than indexes of tuples.

In [13]:
housing.filter((housing["housing_median_age"]>=40) & (housing["housing_median_age"]<50)).sort("population").show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -118.44|   34.04|              49.0|       32.0|           7.0|      14.0|       7.0|       2.1875|          225000.0|
|   -121.9|   37.39|              42.0|       42.0|          14.0|      26.0|      14.0|       1.7361|          500001.0|
|  -121.84|   38.02|              46.0|       66.0|          22.0|      37.0|      21.0|        0.536|           87500.0|
|  -117.12|    34.1|              40.0|       96.0|          14.0|      46.0|      14.0|       3.2708|          162500.0|
|  -122.14|   38.03|              42.0|      118.0|          34.0|      54.0|      30.0|       2.5795|          225000.0|
|  -117.99|   33.81|              46.0|       38.0|           8.0|      66.0|      14.0|       4.1667|          162500.0|
|   -117.3|    34.1|              49.0|       60.0|          11.0|      76.0|      13.0|       2.5625|           75000.0|
|  -117.08|   33.12|              43.0|      107.0|          44.0|     107.0|      48.0|       0.7054|          137500.0|
|  -121.07|    39.2|              45.0|      204.0|          62.0|     133.0|      51.0|          1.0|           90600.0|
|  -118.44|   33.99|              44.0|      305.0|          72.0|     156.0|      70.0|       5.9641|          275000.0|
|  -117.99|   33.81|              42.0|      161.0|          40.0|     157.0|      50.0|          2.2|          153100.0|
|  -118.36|   34.21|              41.0|      337.0|          65.0|     198.0|      50.0|       1.8929|          152900.0|
|  -118.99|   35.24|              40.0|      282.0|          59.0|     213.0|      71.0|         2.35|           91700.0|
|  -118.85|   34.17|              42.0|      564.0|          96.0|     220.0|      81.0|       4.5625|          318800.0|
|  -118.37|   33.93|              46.0|      442.0|          88.0|     255.0|      94.0|       4.4474|          246900.0|
|  -122.09|   37.69|              43.0|      500.0|         110.0|     273.0|     120.0|       3.3125|          150000.0|
|  -122.03|   36.96|              40.0|      584.0|         126.0|     316.0|     139.0|       3.5938|          243500.0|
|  -122.28|   37.85|              41.0|      535.0|         123.0|     317.0|     119.0|       2.4038|          107500.0|
|  -122.02|   36.97|              44.0|      594.0|         169.0|     325.0|     139.0|       1.1552|          250000.0|
|  -121.89|    36.6|              40.0|      626.0|         164.0|     337.0|     150.0|       2.7917|          225000.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

It also makes additional optimisations possible. See [post](https://www.databricks.com/blog/2015/04/13/deep-dive-into-spark-sqls-catalyst-optimizer.html) and [SIGMOD'15 paper](https://people.csail.mit.edu/matei/papers/2015/sigmod_spark_sql.pdf). We can check the physical plan of how a given graph would be executed by using the `explain` method.

In [14]:
housing.filter((housing["housing_median_age"]>=40) & (housing["housing_median_age"]<50)).sort("population").explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Sort [population#22 ASC NULLS FIRST], true, 0
   +- Exchange rangepartitioning(population#22 ASC NULLS FIRST, 200), ENSURE_REQUIREMENTS, [plan_id=83]
      +- Filter ((isnotnull(housing_median_age#19) AND (housing_median_age#19 >= 40.0)) AND (housing_median_age#19 < 50.0))
         +- FileScan csv [longitude#17,latitude#18,housing_median_age#19,total_rooms#20,total_bedrooms#21,population#22,households#23,median_income#24,median_house_value#25] Batched: false, DataFilters: [isnotnull(housing_median_age#19), (housing_median_age#19 >= 40.0), (housing_median_age#19 < 50.0)], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/content/sample_data/california_housing_test.csv], PartitionFilters: [], PushedFilters: [IsNotNull(housing_median_age), GreaterThanOrEqual(housing_median_age,40.0), LessThan(housing_med..., ReadSchema: struct<longitude:double,latitude:double,housing_median_age:double,total_rooms:double,total_bedroo...

We can force the execution of the defined operation graph with actions like `collect` or `take`. The result is a collection of `Row` objects, but the internal representation before the data was returned to user is optimised and does not require creation and garbage collecting of huge numer of objects.

In [15]:
housing.take(20)

[Row(longitude=-122.05, latitude=37.37, housing_median_age=27.0, total_rooms=3885.0, total_bedrooms=661.0, population=1537.0, households=606.0, median_income=6.6085, median_house_value=344700.0),
 Row(longitude=-118.3, latitude=34.26, housing_median_age=43.0, total_rooms=1510.0, total_bedrooms=310.0, population=809.0, households=277.0, median_income=3.599, median_house_value=176500.0),
 Row(longitude=-117.81, latitude=33.78, housing_median_age=27.0, total_rooms=3589.0, total_bedrooms=507.0, population=1484.0, households=495.0, median_income=5.7934, median_house_value=270500.0),
 Row(longitude=-118.36, latitude=33.82, housing_median_age=28.0, total_rooms=67.0, total_bedrooms=15.0, population=49.0, households=11.0, median_income=6.1359, median_house_value=330000.0),
 Row(longitude=-119.67, latitude=36.33, housing_median_age=19.0, total_rooms=1241.0, total_bedrooms=244.0, population=850.0, households=237.0, median_income=2.9375, median_house_value=81700.0),
 Row(longitude=-119.56, latitude=36.51, housing_median_age=37.0, total_rooms=1018.0, total_bedrooms=213.0, population=663.0, households=204.0, median_income=1.6635, median_house_value=67000.0),
 Row(longitude=-121.43, latitude=38.63, housing_median_age=43.0, total_rooms=1009.0, total_bedrooms=225.0, population=604.0, households=218.0, median_income=1.6641, median_house_value=67000.0),
 Row(longitude=-120.65, latitude=35.48, housing_median_age=19.0, total_rooms=2310.0, total_bedrooms=471.0, population=1341.0, households=441.0, median_income=3.225, median_house_value=166900.0),
 Row(longitude=-122.84, latitude=38.4, housing_median_age=15.0, total_rooms=3080.0, total_bedrooms=617.0, population=1446.0, households=599.0, median_income=3.6696, median_house_value=194400.0),
 Row(longitude=-118.02, latitude=34.08, housing_median_age=31.0, total_rooms=2402.0, total_bedrooms=632.0, population=2830.0, households=603.0, median_income=2.3333, median_house_value=164200.0),
 Row(longitude=-118.24, latitude=33.98, housing_median_age=45.0, total_rooms=972.0, total_bedrooms=249.0, population=1288.0, households=261.0, median_income=2.2054, median_house_value=125000.0),
 Row(longitude=-119.12, latitude=35.85, housing_median_age=37.0, total_rooms=736.0, total_bedrooms=166.0, population=564.0, households=138.0, median_income=2.4167, median_house_value=58300.0),
 Row(longitude=-121.93, latitude=37.25, housing_median_age=36.0, total_rooms=1089.0, total_bedrooms=182.0, population=535.0, households=170.0, median_income=4.69, median_house_value=252600.0),
 Row(longitude=-117.03, latitude=32.97, housing_median_age=16.0, total_rooms=3936.0, total_bedrooms=694.0, population=1935.0, households=659.0, median_income=4.5625, median_house_value=231200.0),
 Row(longitude=-117.97, latitude=33.73, housing_median_age=27.0, total_rooms=2097.0, total_bedrooms=325.0, population=1217.0, households=331.0, median_income=5.7121, median_house_value=222500.0),
 Row(longitude=-117.99, latitude=33.81, housing_median_age=42.0, total_rooms=161.0, total_bedrooms=40.0, population=157.0, households=50.0, median_income=2.2, median_house_value=153100.0),
 Row(longitude=-120.81, latitude=37.53, housing_median_age=15.0, total_rooms=570.0, total_bedrooms=123.0, population=189.0, households=107.0, median_income=1.875, median_house_value=181300.0),
 Row(longitude=-121.2, latitude=38.69, housing_median_age=26.0, total_rooms=3077.0, total_bedrooms=607.0, population=1603.0, households=595.0, median_income=2.7174, median_house_value=137500.0),
 Row(longitude=-118.88, latitude=34.21, housing_median_age=26.0, total_rooms=1590.0, total_bedrooms=196.0, population=654.0, households=199.0, median_income=6.5851, median_house_value=300000.0),
 Row(longitude=-122.59, latitude=38.01, housing_median_age=35.0, total_rooms=8814.0, total_bedrooms=1307.0, population=3450.0, households=1258.0, median_income=6.1724, median_house_value=414300.0)]

We can also convert the results to Pandas representation to better present or post-proces the results.

In [16]:
housing.limit(20).toPandas()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
6,-121.43,38.63,43.0,1009.0,225.0,604.0,218.0,1.6641,67000.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
9,-118.02,34.08,31.0,2402.0,632.0,2830.0,603.0,2.3333,164200.0
10,-118.24,33.98,45.0,972.0,249.0,1288.0,261.0,2.2054,125000.0
11,-119.12,35.85,37.0,736.0,166.0,564.0,138.0,2.4167,58300.0
12,-121.93,37.25,36.0,1089.0,182.0,535.0,170.0,4.6900,252600.0
13,-117.03,32.97,16.0,3936.0,694.0,1935.0,659.0,4.5625,231200.0
14,-117.97,33.73,27.0,2097.0,325.0,1217.0,331.0,5.7121,222500.0
15,-117.99,33.81,42.0,161.0,40.0,157.0,50.0,2.2000,153100.0
16,-120.81,37.53,15.0,570.0,123.0,189.0,107.0,1.8750,181300.0
17,-121.20,38.69,26.0,3077.0,607.0,1603.0,595.0,2.7174,137500.0
18,-118.88,34.21,26.0,1590.0,196.0,654.0,199.0,6.5851,300000.0
19,-122.59,38.01,35.0,8814.0,1307.0,3450.0,1258.0,6.1724,414300.0

## Specifying schema by hand
In the following we will use a Kaggle dataset as an example. Please download [the full dataset](https://www.kaggle.com/sobhanmoosavi/us-accidents) and upload it to colab. For convenience, we suggest that you keep the file in your drive. You can also quickly get it from local server but please do not share the link:


```
!wget https://students.mimuw.edu.pl/~tp292676/US_Accidents_Dec21_updated.csv.gz
!gzip -d US_Accidents_Dec21_updated.csv.gz
```

In [19]:
from google.colab import drive
drive.mount('/content/drive')

# edit the location of the archive below:
!cp "/content/drive/MyDrive/uczenie maszynowe w duzej skali/archive.zip" .

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [20]:
!unzip archive.zip

Archive:  archive.zip
  inflating: US_Accidents_Dec21_updated.csv

In [21]:
!ls

archive.zip  drive  sample_data  US_Accidents_Dec21_updated.csv

In [22]:
inDF = spark.read.format("csv") \
  .option("sep", ",") \
  .option("inferSchema", "true") \
  .option("header", "true") \
  .load("./US_Accidents_Dec21_updated.csv")
inDF.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Severity: integer (nullable = true)
 |-- Start_Time: timestamp (nullable = true)
 |-- End_Time: timestamp (nullable = true)
 |-- Start_Lat: double (nullable = true)
 |-- Start_Lng: double (nullable = true)
 |-- End_Lat: double (nullable = true)
 |-- End_Lng: double (nullable = true)
 |-- Distance(mi): double (nullable = true)
 |-- Description: string (nullable = true)
 |-- Number: double (nullable = true)
 |-- Street: string (nullable = true)
 |-- Side: string (nullable = true)
 |-- City: string (nullable = true)
 |-- County: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Zipcode: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Timezone: string (nullable = true)
 |-- Airport_Code: string (nullable = true)
 |-- Weather_Timestamp: timestamp (nullable = true)
 |-- Temperature(F): double (nullable = true)
 |-- Wind_Chill(F): double (nullable = true)
 |-- Humidity(%): double (nullable = true)
 |-- Pressure(in): double (nullable = true)
 |-- Visibility(mi): double (nullable = true)
 |-- Wind_Direction: string (nullable = true)
 |-- Wind_Speed(mph): double (nullable = true)
 |-- Precipitation(in): double (nullable = true)
 |-- Weather_Condition: string (nullable = true)
 |-- Amenity: boolean (nullable = true)
 |-- Bump: boolean (nullable = true)
 |-- Crossing: boolean (nullable = true)
 |-- Give_Way: boolean (nullable = true)
 |-- Junction: boolean (nullable = true)
 |-- No_Exit: boolean (nullable = true)
 |-- Railway: boolean (nullable = true)
 |-- Roundabout: boolean (nullable = true)
 |-- Station: boolean (nullable = true)
 |-- Stop: boolean (nullable = true)
 |-- Traffic_Calming: boolean (nullable = true)
 |-- Traffic_Signal: boolean (nullable = true)
 |-- Turning_Loop: boolean (nullable = true)
 |-- Sunrise_Sunset: string (nullable = true)
 |-- Civil_Twilight: string (nullable = true)
 |-- Nautical_Twilight: string (nullable = true)
 |-- Astronomical_Twilight: string (nullable = true)

In [23]:
inDF.show()

+----+--------+-------------------+-------------------+------------------+------------------+------------------+------------------+-------------------+--------------------+-------+--------------+----+------------+----------+-----+----------+-------+----------+------------+-------------------+--------------+-------------+-----------+------------+--------------+--------------+---------------+-----------------+-----------------+-------+-----+--------+--------+--------+-------+-------+----------+-------+-----+---------------+--------------+------------+--------------+--------------+-----------------+---------------------+
|  ID|Severity|         Start_Time|           End_Time|         Start_Lat|         Start_Lng|           End_Lat|           End_Lng|       Distance(mi)|         Description| Number|        Street|Side|        City|    County|State|   Zipcode|Country|  Timezone|Airport_Code|  Weather_Timestamp|Temperature(F)|Wind_Chill(F)|Humidity(%)|Pressure(in)|Visibility(mi)|Wind_Direction|Wind_Speed(mph)|Precipitation(in)|Weather_Condition|Amenity| Bump|Crossing|Give_Way|Junction|No_Exit|Railway|Roundabout|Station| Stop|Traffic_Calming|Traffic_Signal|Turning_Loop|Sunrise_Sunset|Civil_Twilight|Nautical_Twilight|Astronomical_Twilight|
+----+--------+-------------------+-------------------+------------------+------------------+------------------+------------------+-------------------+--------------------+-------+--------------+----+------------+----------+-----+----------+-------+----------+------------+-------------------+--------------+-------------+-----------+------------+--------------+--------------+---------------+-----------------+-----------------+-------+-----+--------+--------+--------+-------+-------+----------+-------+-----+---------------+--------------+------------+--------------+--------------+-----------------+---------------------+
| A-1|       3|2016-02-08 00:37:08|2016-02-08 06:37:08|40.108909999999995|         -83.09286|          40.11206|         -83.03187|               3.23|Between Sawmill R...|   null|   Outerbelt E|   R|      Dublin|  Franklin|   OH|     43017|     US|US/Eastern|        KOSU|2016-02-08 00:53:00|          42.1|         36.1|       58.0|       29.76|          10.0|            SW|           10.4|              0.0|       Light Rain|  false|false|   false|   false|   false|  false|  false|     false|  false|false|          false|         false|       false|         Night|         Night|            Night|                Night|
| A-2|       2|2016-02-08 05:56:20|2016-02-08 11:56:20|          39.86542|          -84.0628|          39.86501|         -84.04873|              0.747|At OH-4/OH-235/Ex...|   null|        I-70 E|   R|      Dayton|Montgomery|   OH|     45424|     US|US/Eastern|        KFFO|2016-02-08 05:58:00|          36.9|         null|       91.0|       29.68|          10.0|          Calm|           null|             0.02|       Light Rain|  false|false|   false|   false|   false|  false|  false|     false|  false|false|          false|         false|       false|         Night|         Night|            Night|                Night|
| A-3|       2|2016-02-08 06:15:39|2016-02-08 12:15:39|          39.10266|         -84.52468|39.102090000000004|         -84.52396|              0.055|At I-71/US-50/Exi...|   null|        I-75 S|   R|  Cincinnati|  Hamilton|   OH|     45203|     US|US/Eastern|        KLUK|2016-02-08 05:53:00|          36.0|         null|       97.0|        29.7|          10.0|          Calm|           null|             0.02|         Overcast|  false|false|   false|   false|    true|  false|  false|     false|  false|false|          false|         false|       false|         Night|         Night|            Night|                  Day|
| A-4|       2|2016-02-08 06:51:45|2016-02-08 12:51:45|41.062129999999996|         -81.53784|          41.06217|-81.53546999999998|0.12300000000000001|At Dart Ave/Exit ...|   null|        I-77 N|   R|       Akron|    Summit|   OH|     44311|     US|US/Eastern|        KAKR|2016-02-08 06:54:00|          39.0|         null|       55.0|       29.65|          10.0|          Calm|           null|             null|         Overcast|  false|false|   false|   false|   false|  false|  false|     false|  false|false|          false|         false|       false|         Night|         Night|              Day|                  Day|
| A-5|       3|2016-02-08 07:53:43|2016-02-08 13:53:43|         39.172393|-84.49279200000002|         39.170476|        -84.501798|                0.5|At Mitchell Ave/E...|   null|        I-75 S|   R|  Cincinnati|  Hamilton|   OH|     45217|     US|US/Eastern|        KLUK|2016-02-08 07:53:00|          37.0|         29.8|       93.0|       29.69|          10.0|           WSW|           10.4|             0.01|       Light Rain|  false|false|   false|   false|   false|  false|  false|     false|  false|false|          false|         false|       false|           Day|           Day|              Day|                  Day|
| A-6|       2|2016-02-08 08:16:57|2016-02-08 14:16:57|          39.06324|         -84.03243|          39.06731|         -84.05851| 1.4269999999999998|At Dela Palma Rd ...|   null|State Route 32|   R|Williamsburg|  Clermont|   OH|     45176|     US|US/Eastern|        KI69|2016-02-08 08:16:00|          35.6|         29.2|      100.0|       29.66|          10.0|           WSW|            8.1|             null|         Overcast|  false|false|   false|   false|   false|  false|  false|     false|  false|false|          false|          true|       false|           Day|           Day|              Day|                  Day|
| A-7|       2|2016-02-08 08:15:41|2016-02-08 14:15:41|          39.77565|         -84.18603|          39.77275|         -84.18805|0.22699999999999998|At OH-4/Exit 54 -...|   null|        I-75 S|   R|      Dayton|Montgomery|   OH|     45404|     US|US/Eastern|        KFFO|2016-02-08 08:18:00|          33.8|         null|      100.0|       29.63|           3.0|            SW|            2.3|             null|    Mostly Cloudy|  false|false|   false|   false|   false|  false|  false|     false|  false|false|          false|         false|       false|           Day|           Day|              Day|                  Day|
| A-8|       2|2016-02-08 11:51:46|2016-02-08 17:51:46|          41.37531|-81.82016999999998|          41.36786|         -81.82174|              0.521|At Bagley Rd/Exit...|   null|        I-71 S|   R|   Cleveland|  Cuyahoga|   OH|     44130|     US|US/Eastern|        KCLE|2016-02-08 11:51:00|          33.1|         30.0|       92.0|       29.63|           0.5|            SW|            3.5|             0.08|             Snow|  false|false|   false|   false|    true|  false|  false|     false|  false|false|          false|         false|       false|           Day|           Day|              Day|                  Day|
| A-9|       2|2016-02-08 14:19:57|2016-02-08 20:19:57|         40.702247|        -84.075887|          40.69911|        -84.084293|              0.491|At OH-65/Exit 122...|   null| E Hanthorn Rd|   R|        Lima|     Allen|   OH|     45806|     US|US/Eastern|        KAOH|2016-02-08 13:53:00|          39.0|         31.8|       70.0|       29.59|          10.0|           WNW|           11.5|             null|         Overcast|  false|false|   false|   false|   false|  false|  false|     false|  false|false|          false|         false|       false|           Day|           Day|              Day|                  Day|
|A-10|       2|2016-02-08 15:16:43|2016-02-08 21:16:43|          40.10931|         -82.96849|          40.11078|           -82.984|              0.826|At I-71/Exit 26 -...|   null|   Outerbelt W|   R| Westerville|  Franklin|   OH|     43081|     US|US/Eastern|        KCMH|2016-02-08 15:12:00|          32.0|         28.7|      100.0|       29.59|           0.5|          West|            3.5|             0.05|             Snow|  false|false|   false|   false|   false|  false|  false|     false|  false|false|          false|         false|       false|           Day|           Day|              Day|                  Day|
|A-11|       2|2016-02-08 15:43:50|2016-02-08 21:43:50|          39.19288|         -84.47723|          39.19615|         -84.47335|              0.307|At OH-4/Paddock R...|   null|        I-75 N|   R|  Cincinnati|  Hamilton|   OH|     45216|     US|US/Eastern|        KLUK|2016-02-08 15:47:00|          33.8|         29.6|      100.0|       29.66|           3.0|           NNW|            4.6|             0.03|       Light Snow|  false|false|   false|   false|   false|  false|  false|     false|  false|false|          false|         false|       false|           Day|           Day|              Day|                  Day|
|A-12|       2|2016-02-08 16:50:57|2016-02-08 22:50:57|          39.13877|         -84.53394|          39.13977|          -84.5343|0.07200000000000001|At US-52/Hopple S...|   null|     Hopple St|   R|  Cincinnati|  Hamilton|   OH|     45225|     US|US/Eastern|        KLUK|2016-02-08 16:53:00|          35.1|         32.2|       96.0|       29.69|          10.0|         South|            3.5|             null|         Overcast|  false|false|    true|   false|   false|  false|  false|     false|  false|false|          false|          true|       false|           Day|           Day|              Day|                  Day|
|A-13|       2|2016-02-08 17:27:39|2016-02-08 23:27:39|           41.4739|        -81.704233|          41.47388|         -81.70559|               0.07|At US-42/Exit 170...|   null|        I-90 E|   R|   Cleveland|  Cuyahoga|   OH|     44113|     US|US/Eastern|        KBKL|2016-02-08 17:36:00|          33.1|         24.4|       96.0|       29.59|           1.8|          West|           11.5|              0.0|       Light Snow|  false|false|   false|   false|   false|  false|  false|     false|  false|false|          false|         false|       false|           Day|           Day|              Day|                  Day|
|A-14|       2|2016-02-08 17:30:18|2016-02-08 23:30:18|         39.582242|        -83.677814|         39.603013|-83.63731899999998|               2.59|Between OH-72/Exi...|   null|        I-71 N|   R|   Jamestown|    Greene|   OH|     45335|     US|US/Eastern|        KSGH|2016-02-08 17:28:00|          33.8|         28.6|       93.0|       29.64|           1.0|          West|            5.8|             0.01|       Light Snow|  false|false|   false|   false|   false|  false|  false|     false|  false|false|          false|         false|       false|           Day|           Day|              Day|                  Day|
|A-15|       3|2016-02-08 18:11:11|2016-02-09 00:11:11|         40.151785|        -81.312635|         40.151747|        -81.312682|              0.004|At Shipley Rd - A...|48999.0|      Titus Rd|   R|    Freeport|  Guernsey|   OH|     43973|     US|US/Eastern|        KPHD|2016-02-08 18:23:00|          33.1|         null|       92.0|       29.62|          10.0|          Calm|           null|             null|    Mostly Cloudy|  false|false|   false|   false|   false|  false|  false|     false|  false|false|          false|         false|       false|         Night|           Day|              Day|                  Day|
|A-16|       3|2016-02-08 18:11:11|2016-02-09 00:11:11|         40.151747|        -81.312682|         40.151785|        -81.312635|              0.004|At Titus Rd - Acc...|22549.0|      Cadiz Rd|   L|    Freeport|  Harrison|   OH|43973-8626|     US|US/Eastern|        KPHD|2016-02-08 18:23:00|          33.1|         null|       92.0|       29.62|          10.0|          Calm|           null|             null|    Mostly Cloudy|  false|false|   false|   false|   false|  false|  false|     false|  false|false|          false|         false|       false|         Night|           Day|              Day|                  Day|
|A-17|       3|2016-02-08 19:47:42|2016-02-09 01:47:42|39.972409999999996|         -82.84695|          39.98529|         -82.85667|              1.028|At OH-16/Broad St...|   null|   Outerbelt N|   R|    Columbus|  Franklin|   OH|     43213|     US|US/Eastern|        KCMH|2016-02-08 19:51:00|          34.0|         null|      100.0|       29.65|           6.0|          Calm|           null|             0.07|         Overcast|  false|false|   false|   false|   false|  false|  false|     false|  false|false|          false|         false|       false|         Night|         Night|            Night|                Night|
|A-18|       2|2016-02-08 19:47:42|2016-02-09 01:47:42|           39.9838|-82.85656999999998|           39.9725|         -82.84746| 0.9179999999999999|At I-270 - Accident.|   null|   Outerbelt S|   R|    Columbus|  Franklin|   OH|     43213|     US|US/Eastern|        KCMH|2016-02-08 19:51:00|          34.0|         null|      100.0|       29.65|           6.0|          Calm|           null|             0.07|         Overcast|  false|false|   false|   false|   false|  false|  false|     false|  false|false|          false|         false|       false|         Night|         Night|            Night|                Night|
|A-19|       3|2016-02-08 20:13:22|2016-02-09 02:13:22|          40.02664|          -82.9944|          40.01228|         -82.99218| 0.9990000000000001|Between Weber Rd/...|   null|   North Fwy S|   R|    Columbus|  Franklin|   OH|     43224|     US|US/Eastern|        KCMH|2016-02-08 20:12:00|          33.8|         27.0|      100.0|       29.63|           1.0|          West|            8.1|              0.0|       Light Snow|  false|false|   false|   false|   false|  false|  false|     false|  false|false|          false|         false|       false|         Night|         Night|            Night|                Night|
|A-20|       4|2016-02-08 21:00:17|2016-02-09 03:00:17|         41.679361|        -83.573037|41.666123999999996|        -83.566335|              0.978|Closed between I-...|   null|        I-75 S|   R|      Toledo|     Lucas|   OH|     43610|     US|US/Eastern|        KDUH|2016-02-08 20:55:00|          33.4|         26.6|       79.0|       29.62|          10.0|          West|            8.1|             null|         Overcast|  false|false|   false|   false|   false|  false|  false|     false|  false|false|          false|         false|       false|         Night|         Night|            Night|                Night|
+----+--------+-------------------+-------------------+------------------+------------------+------------------+------------------+-------------------+--------------------+-------+--------------+----+------------+----------+-----+----------+-------+----------+------------+-------------------+--------------+-------------+-----------+------------+--------------+--------------+---------------+-----------------+-----------------+-------+-----+--------+--------+--------+-------+-------+----------+-------+-----+---------------+--------------+------------+--------------+--------------+-----------------+---------------------+
only showing top 20 rows

As promised let us redefine the schema by hand. Recall that more about available types, their precision, supported value ranges, etc., can be found in the [documentation](https://spark.apache.org/docs/latest/sql-ref-datatypes.html).

In [24]:
from pyspark.sql.types import IntegerType, StringType, DoubleType, BooleanType, TimestampType
from pyspark.sql.types import StructType, StructField

mySchema = StructType([
   StructField("id", StringType(), nullable=False),
   StructField("severity", IntegerType()),
   StructField("startTime", TimestampType(), nullable=False),
   StructField("endTime", TimestampType(), nullable=False),
   StructField("startLat", DoubleType()),
   StructField("startLng", DoubleType()),
   StructField("endLat", DoubleType()),
   StructField("endLng", DoubleType()),
   StructField("distanceInMiles", DoubleType()),
   StructField("description", StringType()),
   StructField("number", DoubleType()),
   StructField("street", StringType(), nullable=False),
   StructField("side", StringType(), nullable=False),
   StructField("city", StringType()),
   StructField("county", StringType(), nullable=False),
   StructField("state", StringType(), nullable=False),
   StructField("zipcode", StringType()),
   StructField("country", StringType(), nullable=False),
   StructField("timezone", StringType()),
   StructField("airportCode", StringType()),
   StructField("weatherTimestamp", TimestampType()),

   StructField("temperatureInF", DoubleType()),
   StructField("windChillInF", DoubleType()),
   StructField("humidityPercentage", DoubleType()),
   StructField("pressureInInches", DoubleType()),
   StructField("visibilityInMiles", DoubleType()),
   StructField("windDirection", StringType()),
   StructField("windSpeedInMPH", DoubleType()),
   StructField("precipitationInInches", DoubleType()),
   StructField("weatherCondition", StringType()),
   StructField("amenity", BooleanType(), nullable=False),
   StructField("bump", BooleanType(), nullable=False),
   StructField("crossing", BooleanType(), nullable=False),
   StructField("giveWay", BooleanType(), nullable=False),
   StructField("junction", BooleanType(), nullable=False),
   StructField("noExit", BooleanType(), nullable=False),
   StructField("railway", BooleanType(), nullable=False),
   StructField("roundabout", BooleanType(), nullable=False),
   StructField("station", BooleanType(), nullable=False),
   StructField("stop", BooleanType(), nullable=False),
   StructField("trafficCalming", BooleanType(), nullable=False),
   StructField("trafficSignal", BooleanType(), nullable=False),
   StructField("turningLoop", BooleanType(), nullable=False),
   StructField("sunriseSunset", StringType()),
   StructField("civilTwilight", StringType()),
   StructField("nauticalTwilight", StringType()),
   StructField("astronomicalTwilight", StringType())
])

In [25]:
inDF = spark.read.format("csv") \
  .option("sep", ",") \
  .option("header", "true") \
  .schema(mySchema) \
  .load("./US_Accidents_Dec21_updated.csv") \
  .cache()
  
inDF.printSchema()

root
 |-- id: string (nullable = true)
 |-- severity: integer (nullable = true)
 |-- startTime: timestamp (nullable = true)
 |-- endTime: timestamp (nullable = true)
 |-- startLat: double (nullable = true)
 |-- startLng: double (nullable = true)
 |-- endLat: double (nullable = true)
 |-- endLng: double (nullable = true)
 |-- distanceInMiles: double (nullable = true)
 |-- description: string (nullable = true)
 |-- number: double (nullable = true)
 |-- street: string (nullable = true)
 |-- side: string (nullable = true)
 |-- city: string (nullable = true)
 |-- county: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zipcode: string (nullable = true)
 |-- country: string (nullable = true)
 |-- timezone: string (nullable = true)
 |-- airportCode: string (nullable = true)
 |-- weatherTimestamp: timestamp (nullable = true)
 |-- temperatureInF: double (nullable = true)
 |-- windChillInF: double (nullable = true)
 |-- humidityPercentage: double (nullable = true)
 |-- pressureInInches: double (nullable = true)
 |-- visibilityInMiles: double (nullable = true)
 |-- windDirection: string (nullable = true)
 |-- windSpeedInMPH: double (nullable = true)
 |-- precipitationInInches: double (nullable = true)
 |-- weatherCondition: string (nullable = true)
 |-- amenity: boolean (nullable = true)
 |-- bump: boolean (nullable = true)
 |-- crossing: boolean (nullable = true)
 |-- giveWay: boolean (nullable = true)
 |-- junction: boolean (nullable = true)
 |-- noExit: boolean (nullable = true)
 |-- railway: boolean (nullable = true)
 |-- roundabout: boolean (nullable = true)
 |-- station: boolean (nullable = true)
 |-- stop: boolean (nullable = true)
 |-- trafficCalming: boolean (nullable = true)
 |-- trafficSignal: boolean (nullable = true)
 |-- turningLoop: boolean (nullable = true)
 |-- sunriseSunset: string (nullable = true)
 |-- civilTwilight: string (nullable = true)
 |-- nauticalTwilight: string (nullable = true)
 |-- astronomicalTwilight: string (nullable = true)

Do you know why this version executed much faster?

In [26]:
inDF.show()

+----+--------+-------------------+-------------------+------------------+------------------+------------------+------------------+-------------------+--------------------+-------+--------------+----+------------+----------+-----+----------+-------+----------+-----------+-------------------+--------------+------------+------------------+----------------+-----------------+-------------+--------------+---------------------+----------------+-------+-----+--------+-------+--------+------+-------+----------+-------+-----+--------------+-------------+-----------+-------------+-------------+----------------+--------------------+
|  id|severity|          startTime|            endTime|          startLat|          startLng|            endLat|            endLng|    distanceInMiles|         description| number|        street|side|        city|    county|state|   zipcode|country|  timezone|airportCode|   weatherTimestamp|temperatureInF|windChillInF|humidityPercentage|pressureInInches|visibilityInMiles|windDirection|windSpeedInMPH|precipitationInInches|weatherCondition|amenity| bump|crossing|giveWay|junction|noExit|railway|roundabout|station| stop|trafficCalming|trafficSignal|turningLoop|sunriseSunset|civilTwilight|nauticalTwilight|astronomicalTwilight|
+----+--------+-------------------+-------------------+------------------+------------------+------------------+------------------+-------------------+--------------------+-------+--------------+----+------------+----------+-----+----------+-------+----------+-----------+-------------------+--------------+------------+------------------+----------------+-----------------+-------------+--------------+---------------------+----------------+-------+-----+--------+-------+--------+------+-------+----------+-------+-----+--------------+-------------+-----------+-------------+-------------+----------------+--------------------+
| A-1|       3|2016-02-08 00:37:08|2016-02-08 06:37:08|40.108909999999995|         -83.09286|          40.11206|         -83.03187|               3.23|Between Sawmill R...|   null|   Outerbelt E|   R|      Dublin|  Franklin|   OH|     43017|     US|US/Eastern|       KOSU|2016-02-08 00:53:00|          42.1|        36.1|              58.0|           29.76|             10.0|           SW|          10.4|                  0.0|      Light Rain|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|        Night|        Night|           Night|               Night|
| A-2|       2|2016-02-08 05:56:20|2016-02-08 11:56:20|          39.86542|          -84.0628|          39.86501|         -84.04873|              0.747|At OH-4/OH-235/Ex...|   null|        I-70 E|   R|      Dayton|Montgomery|   OH|     45424|     US|US/Eastern|       KFFO|2016-02-08 05:58:00|          36.9|        null|              91.0|           29.68|             10.0|         Calm|          null|                 0.02|      Light Rain|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|        Night|        Night|           Night|               Night|
| A-3|       2|2016-02-08 06:15:39|2016-02-08 12:15:39|          39.10266|         -84.52468|39.102090000000004|         -84.52396|              0.055|At I-71/US-50/Exi...|   null|        I-75 S|   R|  Cincinnati|  Hamilton|   OH|     45203|     US|US/Eastern|       KLUK|2016-02-08 05:53:00|          36.0|        null|              97.0|            29.7|             10.0|         Calm|          null|                 0.02|        Overcast|  false|false|   false|  false|    true| false|  false|     false|  false|false|         false|        false|      false|        Night|        Night|           Night|                 Day|
| A-4|       2|2016-02-08 06:51:45|2016-02-08 12:51:45|41.062129999999996|         -81.53784|          41.06217|-81.53546999999998|0.12300000000000001|At Dart Ave/Exit ...|   null|        I-77 N|   R|       Akron|    Summit|   OH|     44311|     US|US/Eastern|       KAKR|2016-02-08 06:54:00|          39.0|        null|              55.0|           29.65|             10.0|         Calm|          null|                 null|        Overcast|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|        Night|        Night|             Day|                 Day|
| A-5|       3|2016-02-08 07:53:43|2016-02-08 13:53:43|         39.172393|-84.49279200000002|         39.170476|        -84.501798|                0.5|At Mitchell Ave/E...|   null|        I-75 S|   R|  Cincinnati|  Hamilton|   OH|     45217|     US|US/Eastern|       KLUK|2016-02-08 07:53:00|          37.0|        29.8|              93.0|           29.69|             10.0|          WSW|          10.4|                 0.01|      Light Rain|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|          Day|          Day|             Day|                 Day|
| A-6|       2|2016-02-08 08:16:57|2016-02-08 14:16:57|          39.06324|         -84.03243|          39.06731|         -84.05851| 1.4269999999999998|At Dela Palma Rd ...|   null|State Route 32|   R|Williamsburg|  Clermont|   OH|     45176|     US|US/Eastern|       KI69|2016-02-08 08:16:00|          35.6|        29.2|             100.0|           29.66|             10.0|          WSW|           8.1|                 null|        Overcast|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|         true|      false|          Day|          Day|             Day|                 Day|
| A-7|       2|2016-02-08 08:15:41|2016-02-08 14:15:41|          39.77565|         -84.18603|          39.77275|         -84.18805|0.22699999999999998|At OH-4/Exit 54 -...|   null|        I-75 S|   R|      Dayton|Montgomery|   OH|     45404|     US|US/Eastern|       KFFO|2016-02-08 08:18:00|          33.8|        null|             100.0|           29.63|              3.0|           SW|           2.3|                 null|   Mostly Cloudy|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|          Day|          Day|             Day|                 Day|
| A-8|       2|2016-02-08 11:51:46|2016-02-08 17:51:46|          41.37531|-81.82016999999998|          41.36786|         -81.82174|              0.521|At Bagley Rd/Exit...|   null|        I-71 S|   R|   Cleveland|  Cuyahoga|   OH|     44130|     US|US/Eastern|       KCLE|2016-02-08 11:51:00|          33.1|        30.0|              92.0|           29.63|              0.5|           SW|           3.5|                 0.08|            Snow|  false|false|   false|  false|    true| false|  false|     false|  false|false|         false|        false|      false|          Day|          Day|             Day|                 Day|
| A-9|       2|2016-02-08 14:19:57|2016-02-08 20:19:57|         40.702247|        -84.075887|          40.69911|        -84.084293|              0.491|At OH-65/Exit 122...|   null| E Hanthorn Rd|   R|        Lima|     Allen|   OH|     45806|     US|US/Eastern|       KAOH|2016-02-08 13:53:00|          39.0|        31.8|              70.0|           29.59|             10.0|          WNW|          11.5|                 null|        Overcast|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|          Day|          Day|             Day|                 Day|
|A-10|       2|2016-02-08 15:16:43|2016-02-08 21:16:43|          40.10931|         -82.96849|          40.11078|           -82.984|              0.826|At I-71/Exit 26 -...|   null|   Outerbelt W|   R| Westerville|  Franklin|   OH|     43081|     US|US/Eastern|       KCMH|2016-02-08 15:12:00|          32.0|        28.7|             100.0|           29.59|              0.5|         West|           3.5|                 0.05|            Snow|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|          Day|          Day|             Day|                 Day|
|A-11|       2|2016-02-08 15:43:50|2016-02-08 21:43:50|          39.19288|         -84.47723|          39.19615|         -84.47335|              0.307|At OH-4/Paddock R...|   null|        I-75 N|   R|  Cincinnati|  Hamilton|   OH|     45216|     US|US/Eastern|       KLUK|2016-02-08 15:47:00|          33.8|        29.6|             100.0|           29.66|              3.0|          NNW|           4.6|                 0.03|      Light Snow|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|          Day|          Day|             Day|                 Day|
|A-12|       2|2016-02-08 16:50:57|2016-02-08 22:50:57|          39.13877|         -84.53394|          39.13977|          -84.5343|0.07200000000000001|At US-52/Hopple S...|   null|     Hopple St|   R|  Cincinnati|  Hamilton|   OH|     45225|     US|US/Eastern|       KLUK|2016-02-08 16:53:00|          35.1|        32.2|              96.0|           29.69|             10.0|        South|           3.5|                 null|        Overcast|  false|false|    true|  false|   false| false|  false|     false|  false|false|         false|         true|      false|          Day|          Day|             Day|                 Day|
|A-13|       2|2016-02-08 17:27:39|2016-02-08 23:27:39|           41.4739|        -81.704233|          41.47388|         -81.70559|               0.07|At US-42/Exit 170...|   null|        I-90 E|   R|   Cleveland|  Cuyahoga|   OH|     44113|     US|US/Eastern|       KBKL|2016-02-08 17:36:00|          33.1|        24.4|              96.0|           29.59|              1.8|         West|          11.5|                  0.0|      Light Snow|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|          Day|          Day|             Day|                 Day|
|A-14|       2|2016-02-08 17:30:18|2016-02-08 23:30:18|         39.582242|        -83.677814|         39.603013|-83.63731899999998|               2.59|Between OH-72/Exi...|   null|        I-71 N|   R|   Jamestown|    Greene|   OH|     45335|     US|US/Eastern|       KSGH|2016-02-08 17:28:00|          33.8|        28.6|              93.0|           29.64|              1.0|         West|           5.8|                 0.01|      Light Snow|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|          Day|          Day|             Day|                 Day|
|A-15|       3|2016-02-08 18:11:11|2016-02-09 00:11:11|         40.151785|        -81.312635|         40.151747|        -81.312682|              0.004|At Shipley Rd - A...|48999.0|      Titus Rd|   R|    Freeport|  Guernsey|   OH|     43973|     US|US/Eastern|       KPHD|2016-02-08 18:23:00|          33.1|        null|              92.0|           29.62|             10.0|         Calm|          null|                 null|   Mostly Cloudy|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|        Night|          Day|             Day|                 Day|
|A-16|       3|2016-02-08 18:11:11|2016-02-09 00:11:11|         40.151747|        -81.312682|         40.151785|        -81.312635|              0.004|At Titus Rd - Acc...|22549.0|      Cadiz Rd|   L|    Freeport|  Harrison|   OH|43973-8626|     US|US/Eastern|       KPHD|2016-02-08 18:23:00|          33.1|        null|              92.0|           29.62|             10.0|         Calm|          null|                 null|   Mostly Cloudy|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|        Night|          Day|             Day|                 Day|
|A-17|       3|2016-02-08 19:47:42|2016-02-09 01:47:42|39.972409999999996|         -82.84695|          39.98529|         -82.85667|              1.028|At OH-16/Broad St...|   null|   Outerbelt N|   R|    Columbus|  Franklin|   OH|     43213|     US|US/Eastern|       KCMH|2016-02-08 19:51:00|          34.0|        null|             100.0|           29.65|              6.0|         Calm|          null|                 0.07|        Overcast|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|        Night|        Night|           Night|               Night|
|A-18|       2|2016-02-08 19:47:42|2016-02-09 01:47:42|           39.9838|-82.85656999999998|           39.9725|         -82.84746| 0.9179999999999999|At I-270 - Accident.|   null|   Outerbelt S|   R|    Columbus|  Franklin|   OH|     43213|     US|US/Eastern|       KCMH|2016-02-08 19:51:00|          34.0|        null|             100.0|           29.65|              6.0|         Calm|          null|                 0.07|        Overcast|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|        Night|        Night|           Night|               Night|
|A-19|       3|2016-02-08 20:13:22|2016-02-09 02:13:22|          40.02664|          -82.9944|          40.01228|         -82.99218| 0.9990000000000001|Between Weber Rd/...|   null|   North Fwy S|   R|    Columbus|  Franklin|   OH|     43224|     US|US/Eastern|       KCMH|2016-02-08 20:12:00|          33.8|        27.0|             100.0|           29.63|              1.0|         West|           8.1|                  0.0|      Light Snow|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|        Night|        Night|           Night|               Night|
|A-20|       4|2016-02-08 21:00:17|2016-02-09 03:00:17|         41.679361|        -83.573037|41.666123999999996|        -83.566335|              0.978|Closed between I-...|   null|        I-75 S|   R|      Toledo|     Lucas|   OH|     43610|     US|US/Eastern|       KDUH|2016-02-08 20:55:00|          33.4|        26.6|              79.0|           29.62|             10.0|         West|           8.1|                 null|        Overcast|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|        Night|        Night|           Night|               Night|
+----+--------+-------------------+-------------------+------------------+------------------+------------------+------------------+-------------------+--------------------+-------+--------------+----+------------+----------+-----+----------+-------+----------+-----------+-------------------+--------------+------------+------------------+----------------+-----------------+-------------+--------------+---------------------+----------------+-------+-----+--------+-------+--------+------+-------+----------+-------+-----+--------------+-------------+-----------+-------------+-------------+----------------+--------------------+
only showing top 20 rows

In [27]:
inDF.write.parquet("./parquet")
# inDF.write.mode("overwrite").parquet("./parquet")

In [28]:
!ls ./parquet
!du -sh ./parquet

part-00000-904913e6-ab62-488a-8706-7e5c8bb6395a-c000.snappy.parquet
part-00001-904913e6-ab62-488a-8706-7e5c8bb6395a-c000.snappy.parquet
part-00002-904913e6-ab62-488a-8706-7e5c8bb6395a-c000.snappy.parquet
part-00003-904913e6-ab62-488a-8706-7e5c8bb6395a-c000.snappy.parquet
part-00004-904913e6-ab62-488a-8706-7e5c8bb6395a-c000.snappy.parquet
part-00005-904913e6-ab62-488a-8706-7e5c8bb6395a-c000.snappy.parquet
part-00006-904913e6-ab62-488a-8706-7e5c8bb6395a-c000.snappy.parquet
part-00007-904913e6-ab62-488a-8706-7e5c8bb6395a-c000.snappy.parquet
part-00008-904913e6-ab62-488a-8706-7e5c8bb6395a-c000.snappy.parquet
_SUCCESS
295M	./parquet

In [29]:
inDF = spark.read.parquet("./parquet").cache()

In [30]:
inDF.printSchema()

root
 |-- id: string (nullable = true)
 |-- severity: integer (nullable = true)
 |-- startTime: timestamp (nullable = true)
 |-- endTime: timestamp (nullable = true)
 |-- startLat: double (nullable = true)
 |-- startLng: double (nullable = true)
 |-- endLat: double (nullable = true)
 |-- endLng: double (nullable = true)
 |-- distanceInMiles: double (nullable = true)
 |-- description: string (nullable = true)
 |-- number: double (nullable = true)
 |-- street: string (nullable = true)
 |-- side: string (nullable = true)
 |-- city: string (nullable = true)
 |-- county: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zipcode: string (nullable = true)
 |-- country: string (nullable = true)
 |-- timezone: string (nullable = true)
 |-- airportCode: string (nullable = true)
 |-- weatherTimestamp: timestamp (nullable = true)
 |-- temperatureInF: double (nullable = true)
 |-- windChillInF: double (nullable = true)
 |-- humidityPercentage: double (nullable = true)
 |-- pressureInInches: double (nullable = true)
 |-- visibilityInMiles: double (nullable = true)
 |-- windDirection: string (nullable = true)
 |-- windSpeedInMPH: double (nullable = true)
 |-- precipitationInInches: double (nullable = true)
 |-- weatherCondition: string (nullable = true)
 |-- amenity: boolean (nullable = true)
 |-- bump: boolean (nullable = true)
 |-- crossing: boolean (nullable = true)
 |-- giveWay: boolean (nullable = true)
 |-- junction: boolean (nullable = true)
 |-- noExit: boolean (nullable = true)
 |-- railway: boolean (nullable = true)
 |-- roundabout: boolean (nullable = true)
 |-- station: boolean (nullable = true)
 |-- stop: boolean (nullable = true)
 |-- trafficCalming: boolean (nullable = true)
 |-- trafficSignal: boolean (nullable = true)
 |-- turningLoop: boolean (nullable = true)
 |-- sunriseSunset: string (nullable = true)
 |-- civilTwilight: string (nullable = true)
 |-- nauticalTwilight: string (nullable = true)
 |-- astronomicalTwilight: string (nullable = true)

In [31]:
inDF.show()

+--------+--------+-------------------+-------------------+------------------+-------------------+------------------+-------------------+--------------------+--------------------+-------+--------------------+----+--------------+--------------+-----+----------+-------+-----------+-----------+-------------------+--------------+------------+------------------+----------------+-----------------+-------------+--------------+---------------------+--------------------+-------+-----+--------+-------+--------+------+-------+----------+-------+-----+--------------+-------------+-----------+-------------+-------------+----------------+--------------------+
|      id|severity|          startTime|            endTime|          startLat|           startLng|            endLat|             endLng|     distanceInMiles|         description| number|              street|side|          city|        county|state|   zipcode|country|   timezone|airportCode|   weatherTimestamp|temperatureInF|windChillInF|humidityPercentage|pressureInInches|visibilityInMiles|windDirection|windSpeedInMPH|precipitationInInches|    weatherCondition|amenity| bump|crossing|giveWay|junction|noExit|railway|roundabout|station| stop|trafficCalming|trafficSignal|turningLoop|sunriseSunset|civilTwilight|nauticalTwilight|astronomicalTwilight|
+--------+--------+-------------------+-------------------+------------------+-------------------+------------------+-------------------+--------------------+--------------------+-------+--------------------+----+--------------+--------------+-----+----------+-------+-----------+-----------+-------------------+--------------+------------+------------------+----------------+-----------------+-------------+--------------+---------------------+--------------------+-------+-----+--------+-------+--------+------+-------+----------+-------+-----+--------------+-------------+-----------+-------------+-------------+----------------+--------------------+
|A-975550|       2|2021-08-01 14:05:23|2021-08-01 17:09:21|         30.481857|         -81.643749|30.468234999999996|         -81.647109|  0.9620000000000001|Slow traffic on I...|   null|              I-95 S|   R|  Jacksonville|         Duval|   FL|     32218|     US| US/Eastern|       KJAX|2021-08-01 14:01:00|          84.0|        84.0|              72.0|           29.95|              6.0|            S|          13.0|                  0.0|Light Rain with T...|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|          Day|          Day|             Day|                 Day|
|A-975551|       2|2021-11-11 20:05:00|2021-11-11 21:05:00|         35.550137|         -80.857883|         35.555887|         -80.857853|               0.397|In Mooresville / ...|   null|             US-21 N|   R|   Mooresville|       Iredell|   NC|     28117|     US| US/Eastern|       KSVH|2021-11-11 19:55:00|          58.0|        58.0|              97.0|           28.95|              2.0|         CALM|           0.0|                  0.0|                 Fog|  false|false|   false|  false|    true| false|  false|     false|  false|false|         false|        false|      false|        Night|        Night|           Night|               Night|
|A-975552|       2|2021-12-27 14:21:00|2021-12-27 16:24:47|         33.941348|-118.36825400000001|         33.947218|        -118.368274|               0.406|Accident on I-105...|   null|             I-405 N|   R|     Inglewood|   Los Angeles|   CA|     90304|     US| US/Pacific|       KHHR|2021-12-27 14:21:00|          51.0|        51.0|              92.0|            29.9|             0.75|          VAR|           3.0|                  0.1|          Heavy Rain|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|          Day|          Day|             Day|                 Day|
|A-975553|       2|2021-11-29 20:31:00|2021-11-29 22:09:20|         33.945334|        -118.368279|         33.945968|-118.36828899999999|0.044000000000000004|Incident on I-405...|   null|             I-405 N|   R|     Inglewood|   Los Angeles|   CA|     90304|     US| US/Pacific|       KHHR|2021-11-29 20:53:00|          60.0|        60.0|              83.0|           29.96|             10.0|         CALM|           0.0|                  0.0|                Fair|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|        Night|        Night|           Night|               Night|
|A-975554|       2|2021-09-19 10:15:43|2021-09-19 11:36:00|         33.398408|         -80.339961|         33.399234| -80.33518000000002|               0.282|Incident on OLD N...|12095.0|  Old Number Six Hwy|   R|    Eutawville|    Orangeburg|   SC|29048-9181|     US| US/Eastern|       KMNI|2021-09-19 10:15:00|          77.0|        77.0|              83.0|           30.03|             10.0|            E|           3.0|                  0.0|                Fair|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|          Day|          Day|             Day|                 Day|
|A-975555|       2|2021-12-06 23:45:00|2021-12-07 01:03:27|         37.982171|        -121.342674| 37.97417100000001|-121.33949399999999|               0.579|Incident on I-5 S...|   null|               I-5 S|   R|      Stockton|   San Joaquin|   CA|     95219|     US| US/Pacific|       KSCK|2021-12-06 23:40:00|          50.0|        50.0|              89.0|            30.0|              3.0|         CALM|           0.0|                  0.0|          Light Rain|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|        Night|        Night|           Night|               Night|
|A-975556|       2|2021-08-02 10:01:30|2021-08-02 10:21:30|         48.243149|-114.27624099999998|48.240365000000004|-114.27631699999999|               0.192|Stationary traffi...| 2642.0|      US Highway 2 E|   L|     Kalispell|      Flathead|   MT|59901-2362|     US|US/Mountain|       KGPI|2021-08-02 09:55:00|          69.0|        69.0|              90.0|           27.08|              1.0|         CALM|           0.0|                  0.0|                 Fog|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|          Day|          Day|             Day|                 Day|
|A-975557|       2|2021-12-27 12:57:12|2021-12-27 14:12:12|         29.905492|         -95.495873|29.904677000000003|         -95.495853|0.055999999999999994|Incident on N HOU...|   null|       Chippewa Blvd|   R|       Houston|        Harris|   TX|     77086|     US| US/Central|       KIAH|2021-12-27 12:53:00|          79.0|        79.0|              62.0|           29.75|             10.0|          VAR|           7.0|                  0.0|       Mostly Cloudy|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|         true|      false|          Day|          Day|             Day|                 Day|
|A-975558|       2|2021-12-06 13:02:30|2021-12-06 15:30:17| 28.42435900000001| -81.40478399999998|28.421359999999996|         -81.403765| 0.21600000000000005|Stationary traffi...| 9436.0| S Orange Blossom...|   R|       Orlando|        Orange|   FL|32837-8321|     US| US/Eastern|       KMCO|2021-12-06 12:53:00|          80.0|        80.0|              58.0|           29.96|             10.0|            S|           8.0|                  0.0|       Partly Cloudy|  false|false|   false|  false|   false| false|  false|     false|   true|false|         false|        false|      false|          Day|          Day|             Day|                 Day|
|A-975559|       2|2021-06-30 14:46:39|2021-06-30 17:23:52|41.769535999999995|         -72.666975|         41.769736|         -72.672475|               0.284|ConnDOT: Crash (2...|   null|              I-84 W|   R|      Hartford|      Hartford|   CT|     06103|     US| US/Eastern|       KHFD|2021-06-30 14:53:00|          98.0|        98.0|              34.0|           29.86|             10.0|           SW|           9.0|                  0.0|                Fair|  false|false|   false|  false|    true| false|  false|     false|  false|false|         false|        false|      false|          Day|          Day|             Day|                 Day|
|A-975560|       2|2021-10-28 15:53:09|2021-10-28 16:17:09|          36.15902| -86.77586600000002|36.157090000000004|         -86.774666|               0.149|Stationary traffi...|  401.0|       Demonbreun St|   L|     Nashville|      Davidson|   TN|37203-4215|     US| US/Central|       KBNA|2021-10-28 15:53:00|          65.0|        65.0|              70.0|           28.79|             10.0|          SSE|          10.0|                  0.0|       Mostly Cloudy|  false|false|    true|  false|   false| false|  false|     false|  false|false|         false|         true|      false|          Day|          Day|             Day|                 Day|
|A-975561|       2|2021-09-16 06:43:00|2021-09-16 08:51:16|         37.190852|        -121.693106|         37.201436|-121.70886999999999|               1.135|Accident on Cochr...|   null|      S Valley Fwy N|   R|      San Jose|   Santa Clara|   CA|     95138|     US| US/Pacific|       KRHV|2021-09-16 06:50:00|          54.0|        54.0|              82.0|           29.72|             10.0|          SSW|           6.0|                 null|       Mostly Cloudy|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|        Night|          Day|             Day|                 Day|
|A-975562|       2|2021-09-19 02:24:54|2021-09-19 04:24:54|         42.206517|-121.72271299999998|         42.206973|-121.72270900000001|               0.032|An unconfirmed re...| 2299.0|         Homedale Rd|   L| Klamath Falls|       Klamath|   OR|97603-5039|     US| US/Pacific|       KLMT|2021-09-19 02:53:00|          38.0|        38.0|              89.0|           25.79|             10.0|          ESE|           3.0|                  0.0|                Fair|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|        Night|        Night|           Night|               Night|
|A-975563|       2|2021-09-07 23:52:26|2021-09-08 02:37:26|         41.003151| -85.10099699999998|         41.017301| -85.11918299999998|  1.3619999999999999|Incident on US-27...| 8899.0|          Decatur Rd|   L|    Fort Wayne|         Allen|   IN|46816-2619|     US| US/Eastern|       KFWA|2021-09-07 23:54:00|          66.0|        66.0|              93.0|           28.89|             10.0|          WSW|           6.0|                  0.0|              Cloudy|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|        Night|        Night|           Night|               Night|
|A-975564|       2|2021-12-26 07:25:00|2021-12-26 09:32:56|         34.203758|        -117.088101|34.203309999999995|        -117.090686|               0.151|Accident on Green...|32675.0|        Hilltop Blvd|   R| Big Bear City|San Bernardino|   CA|     92314|     US| US/Pacific|       KL35|2021-12-26 07:15:00|          23.0|        14.0|              68.0|           23.34|             10.0|          WSW|           8.0|                  0.0|                Fair|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|          Day|          Day|             Day|                 Day|
|A-975565|       2|2021-12-24 18:49:52|2021-12-24 20:07:44|         25.956861|          -80.31073|25.956879999999998|         -80.310582|0.009000000000000001|Incident on NW 20...|   null|         NW 202nd St|   R|       Hialeah|    Miami-Dade|   FL|     33015|     US| US/Eastern|       KOPF|2021-12-24 18:53:00|          70.0|        70.0|              59.0|           30.14|             10.0|           NE|           6.0|                  0.0|                Fair|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|         true|      false|        Night|        Night|           Night|                 Day|
|A-975566|       4|2021-06-25 07:19:00|2021-06-26 08:09:35|         33.160032|        -111.874669|         33.117242|        -111.841699|  3.5180000000000002|Road closed due t...|   null|              I-10 E|   R|      Maricopa|         Pinal|   AZ|     85138|     US|US/Mountain|       KCGZ|2021-06-25 06:56:00|          81.0|        81.0|              42.0|           28.33|             10.0|         CALM|           0.0|                  0.0|       Mostly Cloudy|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|          Day|          Day|             Day|                 Day|
|A-975567|       2|2021-04-24 21:47:00|2021-04-24 23:49:06|33.142804999999996|         -111.86141|         33.137982|-111.85769499999999|               0.397|Incident on I-10 ...|   null|              I-10 E|   R|      Maricopa|         Pinal|   AZ|     85138|     US|US/Mountain|       KCGZ|2021-04-24 21:56:00|          79.0|        null|              13.0|            null|             10.0|         null|          null|                  0.0|                Fair|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|        Night|        Night|           Night|               Night|
|A-975568|       2|2021-03-30 08:20:30|2021-03-30 10:08:00|         41.843415|         -72.664845|         41.868161| -72.66229799999998|               1.715|Stationary traffi...|   null|              I-91 N|   R|       Windsor|      Hartford|   CT|     06095|     US| US/Eastern|       KBDL|2021-03-30 07:51:00|          36.0|        32.0|              62.0|           30.21|             10.0|          SSE|           5.0|                  0.0|                Fair|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|          Day|          Day|             Day|                 Day|
|A-975569|       2|2021-06-04 18:03:38|2021-06-04 19:44:30|         38.271324|         -77.545502|         38.271515|         -77.545163|               0.023|Incident on PIEDM...|11571.0|         Piedmont Dr|   R|Fredericksburg|  Spotsylvania|   VA|22407-6397|     US| US/Eastern|       KEZF|2021-06-04 17:55:00|          82.0|        82.0|              62.0|           29.82|             10.0|          ESE|           7.0|                  0.0|       Mostly Cloudy|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|          Day|          Day|             Day|                 Day|
+--------+--------+-------------------+-------------------+------------------+-------------------+------------------+-------------------+--------------------+--------------------+-------+--------------------+----+--------------+--------------+-----+----------+-------+-----------+-----------+-------------------+--------------+------------+------------------+----------------+-----------------+-------------+--------------+---------------------+--------------------+-------+-----+--------+-------+--------+------+-------+----------+-------+-----+--------------+-------------+-----------+-------------+-------------+----------------+--------------------+
only showing top 20 rows

Note: the following code finally reads and sorts the whole dataset. Executing it may take ~10 minutes.

In [32]:
inDF.describe().show()

+-------+--------+-------------------+------------------+------------------+-----------------+------------------+------------------+--------------------+------------------+----------+-------+----------+---------+-------+------------------+-------+----------+-----------+------------------+------------------+------------------+------------------+------------------+-------------+-----------------+---------------------+------------------+-------------+-------------+----------------+--------------------+
|summary|      id|           severity|          startLat|          startLng|           endLat|            endLng|   distanceInMiles|         description|            number|    street|   side|      city|   county|  state|           zipcode|country|  timezone|airportCode|    temperatureInF|      windChillInF|humidityPercentage|  pressureInInches| visibilityInMiles|windDirection|   windSpeedInMPH|precipitationInInches|  weatherCondition|sunriseSunset|civilTwilight|nauticalTwilight|astronomicalTwilight|
+-------+--------+-------------------+------------------+------------------+-----------------+------------------+------------------+--------------------+------------------+----------+-------+----------+---------+-------+------------------+-------+----------+-----------+------------------+------------------+------------------+------------------+------------------+-------------+-----------------+---------------------+------------------+-------------+-------------+----------------+--------------------+
|  count| 2845342|            2845342|           2845342|           2845342|          2845342|           2845342|           2845342|             2845342|           1101431|   2845340|2845342|   2845205|  2845342|2845342|           2844023|2845342|   2841683|    2835793|           2776068|           2375699|           2772250|           2786142|           2774796|      2771567|          2687398|              2295884|           2774706|      2842475|      2842475|         2842475|             2842475|
|   mean|    null|  2.137571511614421|36.245200541859546|-97.11463289012686|36.24532079369232|-97.11438709551358|0.7026778946081539|              1092.0| 8089.408113626728|      null|   null|      null|     null|   null| 59920.99433932144|   null|      null|       null|61.793555921541206| 59.65823090383356| 64.36545224997745|29.472344381586403| 9.099391310208034|         null|7.395044202604847| 0.007016939880242...|              null|         null|         null|            null|                null|
| stddev|    null|0.47872161859381823| 5.363797459836231|18.317819121693965|5.363872991165166| 18.31763242329008|1.5603608253438412|  177.90446874657198|18360.093994589257|      null|   null|      null|     null|   null|31576.374206950935|   null|      null|       null|18.622629384408718|21.160967438357762| 22.87456810061255|1.0452864968682591|2.7175457451003364|         null|5.527453950436736|  0.09348831171402819|              null|         null|         null|            null|                null|
|    min|     A-1|                  1|         24.566027|       -124.548074|        24.566013|       -124.545748|               0.0| 1039 GOLDEN BEAR...|               0.0| 1 1/2 Ave|      L|Aaronsburg|Abbeville|     AL|             01001|     US|US/Central|       K01M|             -89.0|             -89.0|               1.0|               0.0|               0.0|         CALM|              0.0|                  0.0|      Blowing Dust|          Day|          Day|             Day|                 Day|
|    max|A-999999|                  4|          49.00058|        -67.113167|           49.075|-67.10924200000001|           155.186|x DRESSER RANCH P...|         9999997.0|Zuni Rd SE|      R|   Zwingle|     Yuma|     WY|        99401-9712|     US|US/Pacific|       KZZV|             196.0|             196.0|             100.0|              58.9|             140.0|         West|           1087.0|                 24.0|Wintry Mix / Windy|        Night|        Night|           Night|               Night|
+-------+--------+-------------------+------------------+------------------+-----------------+------------------+------------------+--------------------+------------------+----------+-------+----------+---------+-------+------------------+-------+----------+-----------+------------------+------------------+------------------+------------------+------------------+-------------+-----------------+---------------------+------------------+-------------+-------------+----------------+--------------------+

## Querying with Python API
Using the [docs](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/index.html) (note that some operations work as transformations, others allow to define predicates on columns, while some allow to do aggregation) print 50 top cities which had the highest number of accidents (hint: use `select`, `groupBy`, `count`, `orderBy`, `show`).

In [33]:
# insert your code here
inDF.select('city').groupBy('city').count().orderBy('count', ascending=False).show(50)

+---------------+------+
|           city| count|
+---------------+------+
|          Miami|106966|
|    Los Angeles| 68956|
|        Orlando| 54691|
|         Dallas| 41979|
|        Houston| 39448|
|      Charlotte| 33152|
|     Sacramento| 32559|
|      San Diego| 26627|
|        Raleigh| 22840|
|    Minneapolis| 22768|
|       Portland| 20944|
|      Nashville| 20267|
|         Austin| 18301|
|    Baton Rouge| 18182|
|        Phoenix| 17143|
|     Saint Paul| 16869|
|    New Orleans| 16251|
|        Atlanta| 15622|
|   Jacksonville| 14967|
|       Richmond| 14349|
|         Tucson| 13799|
|       San Jose| 13377|
|      Riverside| 13310|
|    Kansas City| 13298|
|    Bakersfield| 12044|
| San Bernardino| 11249|
|        Chicago| 11188|
|          Tampa| 10984|
| Salt Lake City| 10709|
|        Ontario| 10538|
|        Anaheim| 10502|
|        Hialeah| 10398|
|Fort Lauderdale| 10345|
|        Oakland| 10051|
|       Columbia|  9885|
|         Corona|  9763|
|     Washington|  9624|
|          Bronx|  9453|
|      Rochester|  9335|
|    Chattanooga|  9205|
|         Fresno|  9025|
|     Long Beach|  8898|
|        Seattle|  8896|
|   Indianapolis|  8328|
|         Denver|  7960|
|   Philadelphia|  7555|
|    Springfield|  7543|
|     Greenville|  7361|
|        Detroit|  7344|
|       Whittier|  7184|
+---------------+------+
only showing top 50 rows

In [ ]:
#@title Solution
inDF.select("city").groupBy("city").count().orderBy("count", ascending=False).show(50)

Now find 50 most dangerous weather conditions.

In [35]:
# insert your code here
inDF.select('weatherCondition').groupBy("weatherCondition").count().orderBy("count", ascending=False).show(50)

+--------------------+-------+
|    weatherCondition|  count|
+--------------------+-------+
|                Fair|1107194|
|       Mostly Cloudy| 363959|
|              Cloudy| 348767|
|       Partly Cloudy| 249939|
|               Clear| 173823|
|          Light Rain| 128403|
|            Overcast|  84882|
|                null|  70636|
|    Scattered Clouds|  45132|
|          Light Snow|  43752|
|                 Fog|  41226|
|                Haze|  36354|
|                Rain|  31044|
|        Fair / Windy|  15195|
|          Heavy Rain|  11824|
|               Smoke|   7200|
|       Light Drizzle|   7041|
|Thunder in the Vi...|   6944|
|      Cloudy / Windy|   6839|
|             T-Storm|   6546|
|Mostly Cloudy / W...|   6297|
|             Thunder|   6018|
|                Snow|   5289|
|Light Rain with T...|   5287|
|Partly Cloudy / W...|   3876|
|          Wintry Mix|   3843|
|       Heavy T-Storm|   3598|
|  Light Rain / Windy|   3412|
|  Light Snow / Windy|   2153|
|             Drizzle|   1705|
|          Heavy Snow|   1441|
|        Rain / Windy|   1093|
|Light Thunderstor...|   1089|
|   N/A Precipitation|   1079|
|      Patches of Fog|   1046|
|                Mist|   1011|
|        Thunderstorm|    985|
|         Shallow Fog|    952|
| Light Freezing Rain|    900|
|  Heavy Rain / Windy|    725|
|Showers in the Vi...|    650|
|        Haze / Windy|    563|
|Heavy Thunderstor...|    510|
|Thunderstorms and...|    506|
|        Snow / Windy|    401|
|  Light Freezing Fog|    385|
|Heavy T-Storm / W...|    382|
|Light Freezing Dr...|    369|
|         Fog / Windy|    270|
|     T-Storm / Windy|    260|
+--------------------+-------+
only showing top 50 rows

In [ ]:
#@title Solution
inDF.select("weatherCondition").groupBy("weatherCondition").count().orderBy("count", ascending=False).show(50)

Now do the same, but first filter out all rows that have `null` values.

Check also `dropna`, `fillna`, `na`, `fill`, `drop`, `replace`.

In [37]:
# insert code here
inDF.filter(~inDF.weatherCondition.isNull()).select('weatherCondition').groupBy("weatherCondition").count().orderBy("count", ascending=False).show(50)

+--------------------+-------+
|    weatherCondition|  count|
+--------------------+-------+
|                Fair|1107194|
|       Mostly Cloudy| 363959|
|              Cloudy| 348767|
|       Partly Cloudy| 249939|
|               Clear| 173823|
|          Light Rain| 128403|
|            Overcast|  84882|
|    Scattered Clouds|  45132|
|          Light Snow|  43752|
|                 Fog|  41226|
|                Haze|  36354|
|                Rain|  31044|
|        Fair / Windy|  15195|
|          Heavy Rain|  11824|
|               Smoke|   7200|
|       Light Drizzle|   7041|
|Thunder in the Vi...|   6944|
|      Cloudy / Windy|   6839|
|             T-Storm|   6546|
|Mostly Cloudy / W...|   6297|
|             Thunder|   6018|
|                Snow|   5289|
|Light Rain with T...|   5287|
|Partly Cloudy / W...|   3876|
|          Wintry Mix|   3843|
|       Heavy T-Storm|   3598|
|  Light Rain / Windy|   3412|
|  Light Snow / Windy|   2153|
|             Drizzle|   1705|
|          Heavy Snow|   1441|
|        Rain / Windy|   1093|
|Light Thunderstor...|   1089|
|   N/A Precipitation|   1079|
|      Patches of Fog|   1046|
|                Mist|   1011|
|        Thunderstorm|    985|
|         Shallow Fog|    952|
| Light Freezing Rain|    900|
|  Heavy Rain / Windy|    725|
|Showers in the Vi...|    650|
|        Haze / Windy|    563|
|Heavy Thunderstor...|    510|
|Thunderstorms and...|    506|
|        Snow / Windy|    401|
|  Light Freezing Fog|    385|
|Heavy T-Storm / W...|    382|
|Light Freezing Dr...|    369|
|         Fog / Windy|    270|
|     T-Storm / Windy|    260|
|     Thunder / Windy|    224|
+--------------------+-------+
only showing top 50 rows

In [ ]:
#@title Solution
inDF.filter(~inDF.weatherCondition.isNull()).select("weatherCondition").groupBy("weatherCondition").count().orderBy("count", ascending=False).show(50)

Next, find the which months are the most dangerous. Hint: check `year`, `month`, `dayofmonth`, `alias`.

In [39]:
# insert your code here
from pyspark.sql.functions import year, month, dayofmonth
inDF.select(month("startTime").alias("startMonth")).groupBy("startMonth").count().orderBy("count", ascending=False).show()

+----------+------+
|startMonth| count|
+----------+------+
|        12|473943|
|        11|360696|
|        10|299131|
|         9|241822|
|         6|226561|
|         1|198365|
|         2|194995|
|         5|181944|
|         8|178670|
|         4|171880|
|         7|159111|
|         3|158224|
+----------+------+

In [ ]:
#@title Solution
from pyspark.sql.functions import year, month, dayofmonth
inDF.select(month("startTime").alias("startMonth")).groupBy("startMonth").count().orderBy("count", ascending=False).show(50)

## Querying with SQL
We can do the same with plain old SQL.

In [40]:
inDF.createOrReplaceTempView("accidents")

In [41]:
spark.sql("SELECT * FROM accidents").show()

+--------+--------+-------------------+-------------------+------------------+-------------------+------------------+-------------------+--------------------+--------------------+-------+--------------------+----+--------------+--------------+-----+----------+-------+-----------+-----------+-------------------+--------------+------------+------------------+----------------+-----------------+-------------+--------------+---------------------+--------------------+-------+-----+--------+-------+--------+------+-------+----------+-------+-----+--------------+-------------+-----------+-------------+-------------+----------------+--------------------+
|      id|severity|          startTime|            endTime|          startLat|           startLng|            endLat|             endLng|     distanceInMiles|         description| number|              street|side|          city|        county|state|   zipcode|country|   timezone|airportCode|   weatherTimestamp|temperatureInF|windChillInF|humidityPercentage|pressureInInches|visibilityInMiles|windDirection|windSpeedInMPH|precipitationInInches|    weatherCondition|amenity| bump|crossing|giveWay|junction|noExit|railway|roundabout|station| stop|trafficCalming|trafficSignal|turningLoop|sunriseSunset|civilTwilight|nauticalTwilight|astronomicalTwilight|
+--------+--------+-------------------+-------------------+------------------+-------------------+------------------+-------------------+--------------------+--------------------+-------+--------------------+----+--------------+--------------+-----+----------+-------+-----------+-----------+-------------------+--------------+------------+------------------+----------------+-----------------+-------------+--------------+---------------------+--------------------+-------+-----+--------+-------+--------+------+-------+----------+-------+-----+--------------+-------------+-----------+-------------+-------------+----------------+--------------------+
|A-975550|       2|2021-08-01 14:05:23|2021-08-01 17:09:21|         30.481857|         -81.643749|30.468234999999996|         -81.647109|  0.9620000000000001|Slow traffic on I...|   null|              I-95 S|   R|  Jacksonville|         Duval|   FL|     32218|     US| US/Eastern|       KJAX|2021-08-01 14:01:00|          84.0|        84.0|              72.0|           29.95|              6.0|            S|          13.0|                  0.0|Light Rain with T...|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|          Day|          Day|             Day|                 Day|
|A-975551|       2|2021-11-11 20:05:00|2021-11-11 21:05:00|         35.550137|         -80.857883|         35.555887|         -80.857853|               0.397|In Mooresville / ...|   null|             US-21 N|   R|   Mooresville|       Iredell|   NC|     28117|     US| US/Eastern|       KSVH|2021-11-11 19:55:00|          58.0|        58.0|              97.0|           28.95|              2.0|         CALM|           0.0|                  0.0|                 Fog|  false|false|   false|  false|    true| false|  false|     false|  false|false|         false|        false|      false|        Night|        Night|           Night|               Night|
|A-975552|       2|2021-12-27 14:21:00|2021-12-27 16:24:47|         33.941348|-118.36825400000001|         33.947218|        -118.368274|               0.406|Accident on I-105...|   null|             I-405 N|   R|     Inglewood|   Los Angeles|   CA|     90304|     US| US/Pacific|       KHHR|2021-12-27 14:21:00|          51.0|        51.0|              92.0|            29.9|             0.75|          VAR|           3.0|                  0.1|          Heavy Rain|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|          Day|          Day|             Day|                 Day|
|A-975553|       2|2021-11-29 20:31:00|2021-11-29 22:09:20|         33.945334|        -118.368279|         33.945968|-118.36828899999999|0.044000000000000004|Incident on I-405...|   null|             I-405 N|   R|     Inglewood|   Los Angeles|   CA|     90304|     US| US/Pacific|       KHHR|2021-11-29 20:53:00|          60.0|        60.0|              83.0|           29.96|             10.0|         CALM|           0.0|                  0.0|                Fair|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|        Night|        Night|           Night|               Night|
|A-975554|       2|2021-09-19 10:15:43|2021-09-19 11:36:00|         33.398408|         -80.339961|         33.399234| -80.33518000000002|               0.282|Incident on OLD N...|12095.0|  Old Number Six Hwy|   R|    Eutawville|    Orangeburg|   SC|29048-9181|     US| US/Eastern|       KMNI|2021-09-19 10:15:00|          77.0|        77.0|              83.0|           30.03|             10.0|            E|           3.0|                  0.0|                Fair|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|          Day|          Day|             Day|                 Day|
|A-975555|       2|2021-12-06 23:45:00|2021-12-07 01:03:27|         37.982171|        -121.342674| 37.97417100000001|-121.33949399999999|               0.579|Incident on I-5 S...|   null|               I-5 S|   R|      Stockton|   San Joaquin|   CA|     95219|     US| US/Pacific|       KSCK|2021-12-06 23:40:00|          50.0|        50.0|              89.0|            30.0|              3.0|         CALM|           0.0|                  0.0|          Light Rain|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|        Night|        Night|           Night|               Night|
|A-975556|       2|2021-08-02 10:01:30|2021-08-02 10:21:30|         48.243149|-114.27624099999998|48.240365000000004|-114.27631699999999|               0.192|Stationary traffi...| 2642.0|      US Highway 2 E|   L|     Kalispell|      Flathead|   MT|59901-2362|     US|US/Mountain|       KGPI|2021-08-02 09:55:00|          69.0|        69.0|              90.0|           27.08|              1.0|         CALM|           0.0|                  0.0|                 Fog|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|          Day|          Day|             Day|                 Day|
|A-975557|       2|2021-12-27 12:57:12|2021-12-27 14:12:12|         29.905492|         -95.495873|29.904677000000003|         -95.495853|0.055999999999999994|Incident on N HOU...|   null|       Chippewa Blvd|   R|       Houston|        Harris|   TX|     77086|     US| US/Central|       KIAH|2021-12-27 12:53:00|          79.0|        79.0|              62.0|           29.75|             10.0|          VAR|           7.0|                  0.0|       Mostly Cloudy|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|         true|      false|          Day|          Day|             Day|                 Day|
|A-975558|       2|2021-12-06 13:02:30|2021-12-06 15:30:17| 28.42435900000001| -81.40478399999998|28.421359999999996|         -81.403765| 0.21600000000000005|Stationary traffi...| 9436.0| S Orange Blossom...|   R|       Orlando|        Orange|   FL|32837-8321|     US| US/Eastern|       KMCO|2021-12-06 12:53:00|          80.0|        80.0|              58.0|           29.96|             10.0|            S|           8.0|                  0.0|       Partly Cloudy|  false|false|   false|  false|   false| false|  false|     false|   true|false|         false|        false|      false|          Day|          Day|             Day|                 Day|
|A-975559|       2|2021-06-30 14:46:39|2021-06-30 17:23:52|41.769535999999995|         -72.666975|         41.769736|         -72.672475|               0.284|ConnDOT: Crash (2...|   null|              I-84 W|   R|      Hartford|      Hartford|   CT|     06103|     US| US/Eastern|       KHFD|2021-06-30 14:53:00|          98.0|        98.0|              34.0|           29.86|             10.0|           SW|           9.0|                  0.0|                Fair|  false|false|   false|  false|    true| false|  false|     false|  false|false|         false|        false|      false|          Day|          Day|             Day|                 Day|
|A-975560|       2|2021-10-28 15:53:09|2021-10-28 16:17:09|          36.15902| -86.77586600000002|36.157090000000004|         -86.774666|               0.149|Stationary traffi...|  401.0|       Demonbreun St|   L|     Nashville|      Davidson|   TN|37203-4215|     US| US/Central|       KBNA|2021-10-28 15:53:00|          65.0|        65.0|              70.0|           28.79|             10.0|          SSE|          10.0|                  0.0|       Mostly Cloudy|  false|false|    true|  false|   false| false|  false|     false|  false|false|         false|         true|      false|          Day|          Day|             Day|                 Day|
|A-975561|       2|2021-09-16 06:43:00|2021-09-16 08:51:16|         37.190852|        -121.693106|         37.201436|-121.70886999999999|               1.135|Accident on Cochr...|   null|      S Valley Fwy N|   R|      San Jose|   Santa Clara|   CA|     95138|     US| US/Pacific|       KRHV|2021-09-16 06:50:00|          54.0|        54.0|              82.0|           29.72|             10.0|          SSW|           6.0|                 null|       Mostly Cloudy|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|        Night|          Day|             Day|                 Day|
|A-975562|       2|2021-09-19 02:24:54|2021-09-19 04:24:54|         42.206517|-121.72271299999998|         42.206973|-121.72270900000001|               0.032|An unconfirmed re...| 2299.0|         Homedale Rd|   L| Klamath Falls|       Klamath|   OR|97603-5039|     US| US/Pacific|       KLMT|2021-09-19 02:53:00|          38.0|        38.0|              89.0|           25.79|             10.0|          ESE|           3.0|                  0.0|                Fair|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|        Night|        Night|           Night|               Night|
|A-975563|       2|2021-09-07 23:52:26|2021-09-08 02:37:26|         41.003151| -85.10099699999998|         41.017301| -85.11918299999998|  1.3619999999999999|Incident on US-27...| 8899.0|          Decatur Rd|   L|    Fort Wayne|         Allen|   IN|46816-2619|     US| US/Eastern|       KFWA|2021-09-07 23:54:00|          66.0|        66.0|              93.0|           28.89|             10.0|          WSW|           6.0|                  0.0|              Cloudy|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|        Night|        Night|           Night|               Night|
|A-975564|       2|2021-12-26 07:25:00|2021-12-26 09:32:56|         34.203758|        -117.088101|34.203309999999995|        -117.090686|               0.151|Accident on Green...|32675.0|        Hilltop Blvd|   R| Big Bear City|San Bernardino|   CA|     92314|     US| US/Pacific|       KL35|2021-12-26 07:15:00|          23.0|        14.0|              68.0|           23.34|             10.0|          WSW|           8.0|                  0.0|                Fair|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|          Day|          Day|             Day|                 Day|
|A-975565|       2|2021-12-24 18:49:52|2021-12-24 20:07:44|         25.956861|          -80.31073|25.956879999999998|         -80.310582|0.009000000000000001|Incident on NW 20...|   null|         NW 202nd St|   R|       Hialeah|    Miami-Dade|   FL|     33015|     US| US/Eastern|       KOPF|2021-12-24 18:53:00|          70.0|        70.0|              59.0|           30.14|             10.0|           NE|           6.0|                  0.0|                Fair|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|         true|      false|        Night|        Night|           Night|                 Day|
|A-975566|       4|2021-06-25 07:19:00|2021-06-26 08:09:35|         33.160032|        -111.874669|         33.117242|        -111.841699|  3.5180000000000002|Road closed due t...|   null|              I-10 E|   R|      Maricopa|         Pinal|   AZ|     85138|     US|US/Mountain|       KCGZ|2021-06-25 06:56:00|          81.0|        81.0|              42.0|           28.33|             10.0|         CALM|           0.0|                  0.0|       Mostly Cloudy|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|          Day|          Day|             Day|                 Day|
|A-975567|       2|2021-04-24 21:47:00|2021-04-24 23:49:06|33.142804999999996|         -111.86141|         33.137982|-111.85769499999999|               0.397|Incident on I-10 ...|   null|              I-10 E|   R|      Maricopa|         Pinal|   AZ|     85138|     US|US/Mountain|       KCGZ|2021-04-24 21:56:00|          79.0|        null|              13.0|            null|             10.0|         null|          null|                  0.0|                Fair|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|        Night|        Night|           Night|               Night|
|A-975568|       2|2021-03-30 08:20:30|2021-03-30 10:08:00|         41.843415|         -72.664845|         41.868161| -72.66229799999998|               1.715|Stationary traffi...|   null|              I-91 N|   R|       Windsor|      Hartford|   CT|     06095|     US| US/Eastern|       KBDL|2021-03-30 07:51:00|          36.0|        32.0|              62.0|           30.21|             10.0|          SSE|           5.0|                  0.0|                Fair|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|          Day|          Day|             Day|                 Day|
|A-975569|       2|2021-06-04 18:03:38|2021-06-04 19:44:30|         38.271324|         -77.545502|         38.271515|         -77.545163|               0.023|Incident on PIEDM...|11571.0|         Piedmont Dr|   R|Fredericksburg|  Spotsylvania|   VA|22407-6397|     US| US/Eastern|       KEZF|2021-06-04 17:55:00|          82.0|        82.0|              62.0|           29.82|             10.0|          ESE|           7.0|                  0.0|       Mostly Cloudy|  false|false|   false|  false|   false| false|  false|     false|  false|false|         false|        false|      false|          Day|          Day|             Day|                 Day|
+--------+--------+-------------------+-------------------+------------------+-------------------+------------------+-------------------+--------------------+--------------------+-------+--------------------+----+--------------+--------------+-----+----------+-------+-----------+-----------+-------------------+--------------+------------+------------------+----------------+-----------------+-------------+--------------+---------------------+--------------------+-------+-----+--------+-------+--------+------+-------+----------+-------+-----+--------------+-------------+-----------+-------------+-------------+----------------+--------------------+
only showing top 20 rows

In [42]:
spark.sql("select weatherCondition, count(*) as count from accidents where weatherCondition is not null group by weatherCondition order by count desc").show()

+--------------------+-------+
|    weatherCondition|  count|
+--------------------+-------+
|                Fair|1107194|
|       Mostly Cloudy| 363959|
|              Cloudy| 348767|
|       Partly Cloudy| 249939|
|               Clear| 173823|
|          Light Rain| 128403|
|            Overcast|  84882|
|    Scattered Clouds|  45132|
|          Light Snow|  43752|
|                 Fog|  41226|
|                Haze|  36354|
|                Rain|  31044|
|        Fair / Windy|  15195|
|          Heavy Rain|  11824|
|               Smoke|   7200|
|       Light Drizzle|   7041|
|Thunder in the Vi...|   6944|
|      Cloudy / Windy|   6839|
|             T-Storm|   6546|
|Mostly Cloudy / W...|   6297|
+--------------------+-------+
only showing top 20 rows

In [44]:
res = spark.sql("select month(startTime) as startMonth, count(*) as count from accidents where weatherCondition is not null group by startMonth order by count desc")
res.show

Results of sql queries are also DataFrames. We can process them further, print or analyse how they would be computed.

In [45]:
res.explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Sort [count#15561L DESC NULLS LAST], true, 0
   +- Exchange rangepartitioning(count#15561L DESC NULLS LAST, 200), ENSURE_REQUIREMENTS, [plan_id=476]
      +- HashAggregate(keys=[_groupingexpression#16035], functions=[count(1)])
         +- Exchange hashpartitioning(_groupingexpression#16035, 200), ENSURE_REQUIREMENTS, [plan_id=473]
            +- HashAggregate(keys=[_groupingexpression#16035], functions=[partial_count(1)])
               +- Project [month(cast(startTime#3018 as date)) AS _groupingexpression#16035]
                  +- Filter isnotnull(weatherCondition#3045)
                     +- InMemoryTableScan [startTime#3018, weatherCondition#3045], [isnotnull(weatherCondition#3045)]
                           +- InMemoryRelation [id#3016, severity#3017, startTime#3018, endTime#3019, startLat#3020, startLng#3021, endLat#3022, endLng#3023, distanceInMiles#3024, description#3025, number#3026, street#3027, side#3028, city#3029, county#3030, state#3031, zipcode#3032, country#3033, timezone#3034, airportCode#3035, weatherTimestamp#3036, temperatureInF#3037, windChillInF#3038, humidityPercentage#3039, ... 23 more fields], StorageLevel(disk, memory, deserialized, 1 replicas)
                                 +- *(1) ColumnarToRow
                                    +- FileScan parquet [id#3016,severity#3017,startTime#3018,endTime#3019,startLat#3020,startLng#3021,endLat#3022,endLng#3023,distanceInMiles#3024,description#3025,number#3026,street#3027,side#3028,city#3029,county#3030,state#3031,zipcode#3032,country#3033,timezone#3034,airportCode#3035,weatherTimestamp#3036,temperatureInF#3037,windChillInF#3038,humidityPercentage#3039,... 23 more fields] Batched: true, DataFilters: [], Format: Parquet, Location: InMemoryFileIndex(1 paths)[file:/content/parquet], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<id:string,severity:int,startTime:timestamp,endTime:timestamp,startLat:double,startLng:doub...

## Exercise 1
Do the word count on `sample_data/README.md` with DataFrame API (don't use RDD API). Sort the result by descending count and make sure that empty words are not included. Hint: you can use `read.text`, `split`, `explode`, `lower`, `filter`, `select`,  `groupBy`, `count`, `orderBy` (some need to be imported from `pyspark.sql.functions`). Details can be found in the [documentation](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/functions.html).

In [74]:
# insert your code here
from pyspark.sql.functions import split, col, explode, lower
path = 'sample_data/README.md'
df = spark.read.text(path)
df = df.filter(df.value != '')
df2 = df.select(split(col("value")," ").alias("NameArray"))
df2 = df2.select(explode(df2.NameArray).alias("words"))
df2 = df2.filter(df2.words != '')
df2 = df2.select("*", lower("words").alias('lower_words')).drop('words')
df2.select('lower_words').groupBy("lower_words").count().orderBy("count", ascending=False).show()

+-------------+-----+
|  lower_words|count|
+-------------+-----+
|           is|    4|
|          the|    3|
|            *|    3|
|            a|    3|
|         copy|    2|
|          at:|    2|
|       sample|    2|
|          was|    2|
|           in|    2|
|           of|    2|
|    described|    2|
|          few|    1|
|  statistical|    1|
|`mnist_*.csv`|    1|
|   originally|    1|
|         more|    1|
|     2682899.|    1|
|           by|    1|
|      'graphs|    1|
|           us|    1|
+-------------+-----+
only showing top 20 rows

<center><img src=''></center>